@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #1999FF;
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}